Wallpaper Picker/obj/Release/netcoreapp2.0/Wallpaper Picker.csproj.FileListAbsolute.txt
Wallpaper Picker/Newtonsoft.Json.dll
Wallpaper Picker/RestSharp.dll
Wallpaper Picker/Wallpaper Picker.csproj.user
Wallpaper Picker/Properties/PublishProfiles/FolderProfile.pubxml
Wallpaper Picker/Properties/PublishProfiles/FolderProfile.pubxml.user
Wallpaper Picker/bin/Release/netcoreapp2.0/Wallpaper Picker.dll
Wallpaper Picker/bin/Release/netcoreapp2.0/Wallpaper Picker.pdb
Wallpaper Picker/obj/Release/Wallpaper Picker.1.0.0.nuspec
Wallpaper Picker/obj/Release/netcoreapp2.0/Wallpaper Picker.dll
Wallpaper Picker/obj/Release/netcoreapp2.0/Wallpaper Picker.pdb
Wallpaper Picker/obj/Release/netcoreapp2.0/Wallpaper Picker.csproj.FileListAbsolute.txt
Wallpaper Picker/bin/Release/netcoreapp2.0/Wallpaper Picker.dll
Wallpaper Picker/bin/Release/netcoreapp2.0/Wallpaper Picker.pdb
Wallpaper Picker/obj/Release/netcoreapp2.0/Wallpaper Picker.dll
Wallpaper Picker/obj/Release/netcoreapp2.0/Wallpaper Picker.pdb
